@model TakmicenjePregledVM
@{
    ViewData["Title"] = "Pregled";
}

<h3>Prikaz takmičenja</h3>
<table class="table table-bordered">
    <text>Škola domaćin: @Model.skola</text>
    <br />
    <text>Razred: @Model.razred</text>
    <thead>
        <tr>
            <th>Takmičenje ID</th>
            <th>Predmet</th>
            <th>Razred</th>
            <th>Datum</th>
            <th>Broj učesnika koji nisu pristupili</th>
            <th>Najbolji učesnik</th>
            <th>Akcija</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model.row)
        {
        <tr>
            <td>@x.TakmicenjeID</td>
            <td>@x.predmet</td>
            <td>@x.razred</td>
            <td>@x.datum</td>
            <td>@x.brojUcesnikaNijePristupio</td>
            <td>@x.skola | @x.odjeljenje |@x.imePrezime</td>

            <td>
                <a asp-action="Rezultati" class="btn btn-primary" asp-route-TakmicenjeID="@x.TakmicenjeID">Rezultati</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="Dodaj" class="btn btn-success" asp-route-skolaID="@Model.skolaID">Dodaj</a>

