@model TakmicenjeRezultatiVM
@{
    ViewData["Title"] = "Rezultati";
}

<h3>Rezultati takmičenja</h3>

<text>Škola domaćin: @Model.skola</text>
<br />
<text>Predmet: @Model.predmet</text>
<br />
<text>Razred: @Model.razred</text>
<br />
<text>Datum: @Model.datum</text>
<br />
<a asp-action="Zakljucaj" class="btn btn-danger" asp-route-TakmicenjeID="@Model.TakmicenjeID">Zaključaj</a>
<div id="ajaxDiv" style="border:1px solid black"></div>

<script>
    $(function () {

        $.get("@Url.Action("AjaxPregled", "Takmicenje", new {TakmicenjeID=Model.TakmicenjeID})", function (data) {
            $("#ajaxDiv").html(data);
        });
    });
</script>
